// colors
$paper: #B5B5B7;
$gray:  #677077; 
$lightblue: #0397D6; 
$blue:  #00457C; 
$darkblue:  #252839; 
$shadow: #1b1b1b;

// shadows
$shadow-lg: drop-shadow(1.6vh 1vh 1.3vh $shadow);
$shadow-md: drop-shadow(0.8vh 0.5vh 0.6vh $shadow);
$shadow-sm: drop-shadow(0.3vh 0.2vh 0.3vh $shadow);

$shadow-in-lg: inset 1vh 1vh 2vh $shadow;
$shadow-in: inset 0.6vh 0.6vh 0.7vh $shadow;

// variables
$title-size: 13vh;