nav {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  background-color: #22262a;
  position: fixed;
  top: 0;
  width: 100% !important;
}

@media screen and (min-width: 768px) {
  nav {
    overflow: hidden;
  }
}

#name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#name img {
  margin-right: 5px;
  width: 2.4rem;
  height: 2.4rem;
  aspect-ratio: 1;
}

#name span {
  font-weight: 350;
  color: #B5B5B7;
}

#name h4 {
  color: #e4e4e4;
  font-size: 1.45rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.flag {
  margin-left: 2vw;
  border-radius: 3px;
  width: 13px !important;
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  opacity: 0.4;
  -webkit-filter: drop-shadow(0.3vh 0.2vh 0.3vh #1b1b1b);
          filter: drop-shadow(0.3vh 0.2vh 0.3vh #1b1b1b);
  -webkit-transition: opacity 0.13s ease-in;
  transition: opacity 0.13s ease-in;
}

.flag:hover {
  opacity: 1;
}

.flag.active {
  display: none;
}

.nav-links {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-family: 'Ubuntu', sans-serif;
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.15rem;
}

.nav-links .hideOnCollapse {
  pointer-events: none;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #e4e4e4;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.selected {
  font-weight: 600 !important;
  padding: 0.1em;
}

#h-copy {
  display: none;
}

@media screen and (max-width: 1600px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 1124px) {
  .nav-links {
    position: relative;
    width: 40%;
  }
  .nav-links a {
    font-size: 0.94rem;
  }
}

@media screen and (max-width: 950px) {
  #name span {
    display: none;
  }
  .nav-links a {
    font-size: 0.90rem;
  }
}

@media screen and (max-width: 768px) {
  .hideOnCollapse {
    display: none;
  }
  .nav-links {
    z-index: 5;
    position: absolute;
    right: 0;
    height: 97vh;
    top: 89px;
    background-color: #22262a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    font-size: 1.4vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease-in;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    padding-left: 3vw;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links #last-nav-li {
    margin-bottom: 10vh;
  }
  .nav-links a {
    font-size: 1.2rem;
  }
  .nav-links .flag {
    opacity: 1;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  #name img {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media screen and (max-height: 900px) {
  #name h4 {
    font-size: 1.2rem;
  }
  nav {
    height: 60px;
  }
  .nav-links {
    top: 59px;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}
/*# sourceMappingURL=header.css.map */