#introduction {
  width: 100%;
  height: 95vh;
  overflow-y: hidden;
}

#introduction-grid {
  height: 60vh;
  margin: 17vh 10vw 0 10vw;
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "card hello" "card desc";
  -ms-grid-columns: 30vw 45vw;
      grid-template-columns: 30vw 45vw;
  -ms-grid-rows: 20vh 40vh;
      grid-template-rows: 20vh 40vh;
}

.card {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card;
  height: 57.6vh;
  width: 33.92vh;
  border-radius: 2vh;
  background: linear-gradient(140deg, #FFFFFF, #677077 150%);
  -webkit-filter: drop-shadow(1.6vh 1vh 1.3vh #1b1b1b);
          filter: drop-shadow(1.6vh 1vh 1.3vh #1b1b1b);
  margin: auto;
}

.card img {
  border-radius: 50%;
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 20vh;
}

.card h2 {
  font-size: 3.5vh;
  font-weight: 500;
  margin-top: 6vh;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #22262a;
}

.card h3 {
  font-size: 2.6vh;
  font-weight: 400;
  margin-top: 4vh;
  display: block;
  width: 100%;
  text-align: center;
  color: #22262a;
  font-family: "Ubuntu", sans-serif;
}

.card .horizontal-line {
  display: block;
  margin-top: 2.6vh;
  margin-bottom: 2.6vh;
  border-top: 0.5vh solid #313131;
  width: 16vh;
  margin-left: auto;
  margin-right: auto;
}

#hello {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hello;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14vh;
  max-height: 5vh;
  color: #22262a;
}

#desc {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: desc;
  margin-bottom: 8vh;
}

#desc p {
  font-size: 2.3vh;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-aspect-ratio: 1300 / 880) {
  #introduction-grid {
    -ms-grid-columns: 50vw 40vw;
        grid-template-columns: 50vw 40vw;
    margin: 17vh 10vw 0 2vw;
  }
}

@media screen and (max-aspect-ratio: 1200 / 1120) {
  #desc p {
    font-size: 1.9vh;
  }
}

@media screen and (max-aspect-ratio: 854 / 1050) {
  #introduction {
    width: 100%;
    height: 115vh;
    overflow-y: clip;
  }
  #introduction-grid {
    height: 60vh;
    margin: 10vh 10vw 10vh 10vw;
    position: relative;
    z-index: 10;
    display: block;
  }
  .card {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "im h1" "im h2";
    -ms-grid-columns: 20vw 50vw;
        grid-template-columns: 20vw 50vw;
    height: 20vh;
    width: 90%;
    background: transparent;
    margin: auto;
  }
  .card img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: im;
    float: left;
    border-radius: 50%;
    width: 11.5vh;
  }
  .card h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: h1;
    font-size: 3.1vh;
    font-weight: 500;
    margin-top: 5vh;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-left: 8vw;
  }
  .card h3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: h2;
    font-size: 2.2vh;
    font-weight: 400;
    margin-top: 0vh;
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 8vw;
  }
  .card br {
    display: none;
  }
  .card .horizontal-line {
    display: none;
  }
  #hello {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: hello;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14vh;
    max-height: 5vh;
    color: #22262a;
  }
  #desc {
    margin-bottom: 8vh;
  }
  #desc p {
    font-size: 2.3vh;
  }
}
/*# sourceMappingURL=0-Introduction.css.map */