#details {
  z-index: 3;
  position: relative;
  height: 80vh;
  background: linear-gradient(150deg, #252839, #22262a 100%);
  -webkit-filter: drop-shadow(0 2vh 2vh #1b1b1b);
          filter: drop-shadow(0 2vh 2vh #1b1b1b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
}

#details .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#details .detail h2 {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 13px;
}

#details .detail .line-h-sm {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  width: 1vw;
  background-color: black;
}

#details .detail p {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-align: center;
  list-style: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  word-spacing: 1px;
  margin-top: 2vh;
  margin-bottom: 0;
}

#details .detail p span {
  color: #B5B5B7;
  font-weight: 300;
}

#details #cardsocket {
  background-color: #2a2a2a;
  -webkit-box-shadow: inset 1vh 1vh 2vh #1b1b1b;
          box-shadow: inset 1vh 1vh 2vh #1b1b1b;
  height: 57.6vh;
  width: 33.92vh;
  border-radius: 2vh;
  display: -ms-grid;
  display: grid;
}

#details #cardsocket #det-card {
  -webkit-transform: translateY(100%) scale(1.1);
          transform: translateY(100%) scale(1.1);
  overflow-y: none;
}

.colored h2:not(.cardpiece) {
  -webkit-filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b) !important;
          filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b) !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  color: #0397D6 !important;
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

.colored .line-h-sm {
  -webkit-filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b) !important;
          filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b) !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  width: 7vw !important;
  background-color: #0397D6 !important;
  -webkit-box-shadow: 0 0 50px 50px rgba(127, 208, 255, 0.082);
          box-shadow: 0 0 50px 50px rgba(127, 208, 255, 0.082);
}

.colored p {
  -webkit-filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b) !important;
          filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b) !important;
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
  margin-top: 3vh !important;
}
/*# sourceMappingURL=1-Details.css.map */