@import "../main/global.scss";

$poweruptime: all 0.5s ease-out;

#details
{
    z-index: 3;
    position: relative;
    height: 80vh;
    background: linear-gradient(150deg, $darkblue, $element 100.00%);
    filter: drop-shadow(0 2vh 2vh $shadow);

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow-y: hidden;

    & .detail
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        transform: scale(0.95);

        & h2
        {
            transition: $poweruptime;
            font-family: $Montserrat;
            text-align: center;
            color: white;
            letter-spacing: 1px;
            font-size: 2.7rem;
            font-weight: 500;
            margin-bottom: 13px;
        }
        & .line-h-sm
        {
            transition: $poweruptime;
            margin-left: auto;
            margin-right: auto;
            height: 1px;
            width: 1vw;
            background-color: black;
        }
        & p
        {
            transition: $poweruptime;
            text-align: center;
            list-style: none;
            color: white;
            font-family: $Ubuntu;
            font-weight: 400;
            font-size: 1.5rem;
            word-spacing: 1px;
            margin-top: 2vh;
            margin-bottom: 0;

            & span
            {
                color: $paper;
                font-weight: 300;
            }
        }
    }
    & #cardsocket
    {
        background-color: rgb(42, 42, 42);
        box-shadow: $shadow-in-lg;
        $size: 64vh;
        height: $size*0.9;
        width: $size*0.53;
        border-radius: 2vh;
        display: grid;

        & #det-card
        {
            transform: translateY(100%) scale(1.1);
            overflow-y: none;
        }
    }
}

.colored
{
    & h2:not(.cardpiece)
    {
        filter: $shadow-md !important;
        transform: scale(1) !important;
        color: $lightblue !important;
        transform: scale(1.1) !important;
    }
    & .line-h-sm
    {
        filter: $shadow-md !important;
        transform: scale(1) !important;
        width: 7vw !important;
        background-color: $lightblue !important;
        box-shadow: 0 0 50px 50px rgba(127, 208, 255, 0.082);
    }
    & p
    {
        filter: $shadow-md !important;
        transform: scale(1.1) !important;
        margin-top: 3vh !important;
    }
}