.show {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

#skills {
  overflow: hidden !important;
  scroll-margin-top: 5vh !important;
}

#skills #s-title {
  margin-top: 14vh;
  margin-bottom: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14vh;
  color: #22262a;
}

#skills h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  padding: 2vh 0 2vh 0;
  margin: 6vh auto 6vh auto;
  -webkit-box-shadow: 2vh 2vh 5vh #1b1b1b;
          box-shadow: 2vh 2vh 5vh #1b1b1b;
  background: linear-gradient(155deg, #252839, #1b1b1b 100%);
  color: white;
}

#skills .horizontal-line {
  display: block;
  margin-top: 0;
  margin-bottom: 2vh;
  border-top: 0.5vh solid #1b1b1b;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

#skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  min-width: 500px;
  height: 13vh;
  border-radius: 2vh;
  background: linear-gradient(170deg, #252839, #1d1d1d 100%);
  margin-bottom: 5vh;
  margin-left: 1.25vh;
  margin-right: 1.25vh;
  /**/
  -webkit-filter: drop-shadow(0.3vh 0.2vh 0.3vh #1b1b1b);
          filter: drop-shadow(0.3vh 0.2vh 0.3vh #1b1b1b);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#skills .skill:hover {
  -webkit-transform: scale(1.04) !important;
          transform: scale(1.04) !important;
  -webkit-filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b);
          filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b);
}

#skills .skill img {
  margin-left: 1.5vh;
  margin-right: 1vh;
  display: inline-block;
  height: 10vh;
  width: 10vh;
  border-radius: 2vh;
  -webkit-filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b);
          filter: drop-shadow(0.9vh 0.6vh 0.6vh #1b1b1b);
}

#skills .skill h4 {
  color: white;
  margin-top: 0.7vh;
  margin-left: 2vh;
  font-size: 2.7vh;
  display: block;
  margin-bottom: 2.2vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

#skills .big-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 13vh;
  margin-right: 13vh;
}

#skills .skill-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -1vh;
  padding-right: 30px;
  margin-left: 0.2vh;
}

#skills .filled-skill {
  background: linear-gradient(140deg, #34e1ff, #0397D6 100%);
}

#skills .empty-skill {
  border-radius: 50%;
  height: 3.4vh;
  width: 3.4vh;
  -webkit-box-shadow: inset 0.5vh 0.5vh 0.8vh rgba(14, 14, 14, 0.712);
          box-shadow: inset 0.5vh 0.5vh 0.8vh rgba(14, 14, 14, 0.712);
}

#skills .skill-level-s {
  margin-top: -20px;
}

#skills .empty-skill-s {
  border-radius: 50%;
  height: 27px;
  width: 27px;
  -webkit-box-shadow: inset 10px 10px 14px rgba(14, 14, 14, 0.712);
          box-shadow: inset 10px 10px 14px rgba(14, 14, 14, 0.712);
}

@media screen and (max-width: 950px) {
  #skills h2 {
    font-size: 2.6rem;
  }
  #skills .skill {
    min-width: 50vw;
    max-width: 50vw;
  }
}

@media screen and (max-width: 720px) {
  #skills .skill {
    min-width: 70vw;
    max-width: 70vw;
  }
}

@media screen and (max-width: 550px) {
  #skills h2 {
    font-size: 1.8rem;
  }
  #skills .empty-skill {
    height: 5vw;
    width: 5vw;
  }
}
/*# sourceMappingURL=2-Skills.css.map */