@import "../main/global.scss";

.show
{
    transform: scale(1) !important;
}

#skills 
{
    scroll-margin-top: 5vh;
    & #s-title 
    {
        margin-top: 11vh;
        display: block;
        font-size: $title-size;
        text-align: center;
    }
    & h2 
    {
        font-size: 7vh;
        font-weight: 400;
        text-align: center;
        padding: 2vh 0 2vh 0;
        margin: 7vh auto 7vh auto;
        box-shadow: 2vh 2vh 5vh $shadow;
        background: linear-gradient(155deg, $darkblue, $shadow 100.00%);
        color: white //linear-gradient(90deg, $paper, #909090 100%);
    }
    & h3
    {
        font-size: 5vh;
        font-weight: 450;
        text-align: center;
        margin: 7vh auto 7vh auto;
    }
    & .horizontal-line
    {
        display: block;
        margin-top: 4vh;
        margin-bottom: 4vh;
        border-top: 0.5vh solid #1b1b1b;
        width: 0vh;
        margin-left:auto; margin-right:auto;
    }

    & .skill
    {
        display: block;
        max-width: 45vh;
        min-width: 45vh;
        height: 13vh;
        border-radius: 2vh;
        background: linear-gradient(170deg, $darkblue, #1d1d1d 100.00%);
        $margins: 5vh;
        $div: 4;
        margin-bottom: $margins;
        margin-left: $margins/$div;
        margin-right: $margins/$div; /**/
        filter: $shadow-sm;
        transition: all 0.2s;
        transform: scale(0.8);
        &:hover
        {
            transform: scale(1.04) !important;
            filter: $shadow-md;
        }
    }

    & .skill img
    {
        margin-left: 0.3vh;
        margin-right: 0.9vh;
        display: inline-block;
        $size: 10vh;
        height: $size;
        width: $size;
        border-radius: 2vh;
        filter: $shadow-md;
    }

    & .big-container
    {
        $margin: 20vh;
        flex-wrap: wrap;
        margin-left: $margin;
        margin-right: $margin;
    }

    & .skill h4
    {
        color: white;
        margin-top: 0.7vh;
        margin-left: 2vh;
        font-size: 2.7vh;
        display: block;
        margin-bottom: 2.2vh;
    }
    & .skill-level
    {
        margin-top: -1vh; 
        padding-right: 30px;
        margin-left: 0.2vh;
    }
    & .filled-skill
    {
        background: linear-gradient(140deg, #2ee0ff, $lightblue 100.00%);
    }
    & .empty-skill
    {
        $size: 3.8vh;
        border-radius: 50%;
        height: $size;
        width: $size;
        box-shadow: inset 10px 10px 14px rgba(14, 14, 14, 0.712);
    }
    & .skill-level-s
    {
        margin-top: -20px; 
    }
    & .empty-skill-s
    {
        border-radius: 50%;
        height: 27px;
        width: 27px;
        box-shadow: inset 10px 10px 14px rgba(14, 14, 14, 0.712);
    }
}